<div class="container m-1 p-1 rcorners apding listcontainer">
          <p class="divtitle">Members</p>


          <p>
            Code:
            <b>
              {{ subentr.resource.code.text }}
            </b>
          </p>
         <p>effective Date: <b>{{subentr.resource.effectiveDateTime}}</b></p>

         {% if subentr.resource.valueCodeableConcept %}

            <p>Value: <b>{{subentr.resource.valueCodeableConcept.coding[0].display}}</b>
            {% if subentr.resource.interpretation %}
                <span style="font-size: 14px"> ({{subentr.resource.interpretation[0].coding[0].display}}) </span>
            {% endif %}
            </p>

            {% endif %}


            {% if subentr.resource.valueQuantity %}
            <p>Value: <b>{{subentr.resource.valueQuantity.value}} {{subentr.resource.valueQuantity.unit}}</b>
            {% if subentr.resource.interpretation %}
                <span style="font-size: 14px"> ({{subentr.resource.interpretation[0].coding[0].display}}) </span>
            {% endif %}
        {% endif %}

          </div>

        {% comment %}{% endcomment %}